<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid header-wrap">
            <h1 style="cursor: pointer" class="navbar-brand" routerLink="/passengers">
                Titanistic
            </h1>
    <img src="http://pngimg.com/uploads/titanic/titanic_PNG41.png" alt="">
            <!-- <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button> -->
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- <pokemonSearch (serchPokemon) = "onSearchPokemon($event)"/> -->
                <searchComponent  />
            </div>
        </div>
    </nav>
</header>
