<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid header-wrap">
                <img src="http://pngimg.com/uploads/titanic/titanic_PNG41.png" alt="">
                <h1 style="cursor: pointer" class="navbar-brand" routerLink="/passengers">
                    TITANIC STATISTICS
                </h1>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <searchComponent  (serchPassengers)="onSearchPassengers($event)"/>
                </div>
        </div>
    </nav>
</header>
