main {
    padding-top: 30px;
    .wrap-main-container,
    .container-fluid {
        width: 90%;
        background: rgb(238, 236, 236);
        border-radius: 10px;
        margin: 0 auto;
    }

    .wrap-main-container {
        margin-bottom: 20px;
    }
}
